fastapi
uvicorn
python-dotenv
asyncpg
pydantic-settings
sqlalchemy
sqlmodel
alembic
psycopg2 
python-jose
pydantic[email]
python-multipart
argon2-cffi
passlib[bcrypt]
redis
fastapi-mail 
celery
asgiref
eventlet

# Testing
pytest
pytest-asyncio
httpx[http2]
aiosqlite
fakeredis[aioredis]
